
body{
    background-color: #E5DADA;
        float: left;
}

  h1 {
    color: #002642;
    padding-top: 5%;
  }

  ul{
    background-color: rgb(229,149,0,0.5);
  }

  .menu{
        font-family: 'Noto Sans', sans-serif;
        text-indent: 20px;
        padding: 10px 10px 10px 0px;
        overflow: hidden;
        top: 0;
        width: 100%;
  }

  .course{
    padding: 10px;
  }

  .nav{
    overflow: hidden;
    list-style: none;
  }

  .menu-area{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .nav li{
    float: right;
    margin-right: 16px;
    list-style: none;
    font-family: 'Noto Sans', sans-serif;
  }

  .nav-main li{
    float: right;
    margin-right: 15px;
    list-style: none;
    font-family: 'Noto Sans', sans-serif;
  }

  .nav li a{
    font-family: 'Noto Sans', sans-serif;

  }

.info{
    padding: 5%;
}

.img{
    float: left;
}

img{
    width: 150px;
    border: solid;
    border-width: 2px;
} 

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #002642;
}


